{% extends "layout.html" %}
{% block title %} Main {% endblock %}

	{% block main %}
        <h3 class="float-left display-5 text-success">{{ wan }}</h3>
		<div class="jumbotron py-1">
            <h3 class="display-5 text-success">Connected to: {{ currentconn }}</h3>
            <form class="my-2 my-lg-2" action="/" method="POST">
				<button class="btn btn-primary btn-lg" type="submit" value="Disconnect" name="button">Disconnect</button>
            </form>
			<form class="my-2 my-lg-2" action="/" method="POST">
				<button class="btn btn-primary btn-lg" type="submit" value="Scan" name="button">Scan</button>
            </form>
			<div>
				Press "Scan" to scan for WiFi networks
			</div>
		</div>

        <h3 class="float-left display-5 text-success">{{ lan }}</h3>
		<div class="jumbotron py-2">
            <h3 class="display-5 text-success">Local WiFi: {{ myap }}</h3>			
			<div class="form-group">
                <p>Leased addresses for local clients</p>
                <table class="table dark table-sm">
                    <thead>
                        <tr>
                            <th scope="col" class="col-">IP</th>
                            <th scope="col" class="col-">MAC</th>
                            <th scope="col" class="col-">Hostname</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for list in clients %}
                        <tr>
                            {% for val in list %}
                            <td class="align-middle">{{ val }}</td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
		</div>
	{% endblock %}
