{% extends "layout.html" %}
{% block title %} Main {% endblock %}

	{% block main %}
        <div class="row g-3 pt-2">
            <div class="col-sm-2">
                <h3 class="display-5 text-warning">Internet</h3>
            </div>
        </div>
        <div class="jumbotron p-1">
            <form class="my-2 my-lg-2" action="/networks" method="POST">
                <button class="btn btn-primary btn-lg" type="submit" value="Rescan" name="button">Rescan</button>
            </form>
            {% if not error %}
                <div class="form-group my-1 my-lg-1 table-responsive">
                    <p>WiFi Networks</p>
                    <!-- <table class="table table-hover"> -->
                    <table class="table dark table-sm">
                        <thead>
                            <tr>
                                <th scope="col" class="col-">SSID</th>
                                <th scope="col" class="col-">Ch</th>
                                <th scope="col" class="col-">Rate</th>
                                <th scope="col" class="col-">Signal</th>
                                <th scope="col" class="col-"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for list in outputList %}
                                {% if list[0] != myap %}
                                    <tr>
                                        {% for val in list[:-1] %}
                                        <td class="align-middle">{{ val }}</td>
                                        {% endfor %}

                                        <!-- If a wifi network is in use do not show "Connect" button -->
                                        {% if (list[4] != "*") %}
                                            <td>
                                                <form class="my-2 my-lg-0" action="/networks" method="POST">
                                                    <input class="form-control form-control-sm mr-sm-1 mb-1 mb-sm-0" autocomplete="off" type="text" name="passwd" placeholder="Password">
                                                    <button class="btn btn-primary btn-sm" name="button" value="{{ loop.index }}" type="submit">Connect</button>
                                                </form>
                                            </td>
                                        {% else %}
                                            <td>
                                                <form class="align-middle my-1 my-lg-0">
                                                    <p>Connected</p>
                                                </form>
                                            </td>
                                        {% endif %}
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <p class="display-5 text-danger">An error has occurred!</p>
            {% endif %}
		</div>
		
        <div class="row g-3">
            <div class="col-sm-3">
                <h3 class="display-5 text-warning">Local network</h3>
            </div>
        </div>
        <div class="jumbotron py-2">
            <h3 class="display-5 text-success">Local WiFi: {{ myap }}</h3>
			<div class="form-group my-1 my-lg-1 table-responsive">
                <p>Leased addresses for local clients</p>
                <table class="table dark table-sm">
                    <thead>
                        <tr>
                            <th scope="col" class="col-">IP</th>
                            <th scope="col" class="col-">MAC</th>
                            <th scope="col" class="col-">Hostname</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for list in clients %}
                        <tr>
                            {% for val in list %}
                            <td class="align-middle">{{ val }}</td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
		</div>
	{% endblock %}